# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace/
xcuserdata/

# Backup files
*~.nib
\#*#
.#*
*.swp
*.un~

# Pods
Pods

# Project specific
cineio-ios/cineio-iosTests/cineio-settings.plist
