<!-- *** you should rename this file without the "SAMPLE-"" prefix *** -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CINE_IO_PUBLIC_KEY</key>
  <string>*** YOUR PUBLIC KEY GOES HERE ***</string>
  <key>CINE_IO_SECRET_KEY</key>
  <string>*** YOUR SECRET KEY GOES HERE ***</string>
  <key>CINE_IO_STREAM_ID</key>
  <string>*** YOUR STREAM ID GOES HERE ***</string>
</dict>
</plist>
